
.graphContainer {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-areas:"yAxis heading heading heading"
                      "yAxis body body body"
                      "yAxis body body body"
                      "xAxis xAxis xAxis xAxis";

  background-color: yellow;
}
.yAxisContainer{
  grid-area: yAxis;
  height: 300px;
  position: absolute;
  justify-self: end;

}

.xAxisContainer{
  grid-area: xAxis;
  height: 5px;
  width:300px;
  align-self: start;  
  justify-self: start;
}

.yAxis {
  width: 5px;
  height: 300px;
  background-color: black;
  position: absolute;
  justify-self: end;
}

.xAxis {
  width: 300px;
  height: 5px;
  background-color: black;
  grid-area: xAxis;
  position: relative;
}
.scaleMarkerContainer {
  height: 300px;
  width: 300px;

}
.scaleMarker {
  background: black;
  height: 5px;
  width: 20px;
  position: absolute;
}

.titleContainer {
  width: 300px;
  height: 40px;
  grid-area: heading;
  position: absolute;
  left: 100px;
}

/*STYLESHEET*/
/*
#yAxis {
  height: 600px;
  width: 5px;
  background: black;

}

#xAxis {
  height: 5px;
  width: 600px;
  background: black;
  position: absolute;
}

.bar {
  background: black;
  border: 2px solid white;
}

.dataLabel {
  height: 16px;
  background: white;
  position: absolute;
  bottom: -30px;
}

.scaleMarkerContainer {
  position: absolute;
}



#chartHeading {
  position: absolute;
  left: 200px;
}
*/